* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.header, .one, .two, .review, .four, .footer {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 30px;
}

a {
    text-decoration: none;  
}

a, .hero-subtext {
    color: #b7babe;
    font-size: 18px;
}

.one {
    display: flex;
    margin: 80px 0px;
    gap: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1f2937;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.one img {
    width: 400px;
    border-radius: 8px;
}

button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #1f2937;
    background-color: #8ccbe6;
    border-color: #5188a0;
    border-radius: 10px;
    width: 150px;
}

.two {
    background-color: #f9faf8;
    padding-top: 80px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.two img {
    width: 165px;
    border-radius: 100%;
    /*border: 2px solid #7cbad5;*/
    margin-bottom: 10px;
}

.roasts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 80px 0px 80px;
    padding-bottom: 100px;
}

.roast {
    text-align: center;
    max-width: 175px;
    color: #48505b;
}

.review {
    background-color: #e5e7eb;
    font-size: 30px;
    color: #55595e;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    gap: 20px;
}

.review-text {
    font-style: italic;
    font-weight: 100; 
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.four {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    padding-top: 80px;
    padding-bottom: 80px;
}

.four .container {
    background-color: #8ccbe6;
    width: 1000px;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.four .content {
    color: #1f2937;
    font-size: 18px;
}

.four .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    padding: 25px;
    font-size: 18px;
}